<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<div class="search" th:fragment="search">
  <h1>
    <span style="color:red" th:text="${message}">message</span>
  </h1>
  <form action="#" th:action="@{/search}" method="post">
    <div>
      <p>设备类型:&nbsp;
        <select name="snType" class="form-control" style="width:10%">
          <option value="serverSn">&nbsp;服务器&nbsp;</option>
          <option value="projectorSn">&nbsp;放映机&nbsp;</option>
        </select>
      </p>
      <p>&nbsp;序列号:&nbsp;
        <input name="sn" type="text" class="form-control" style="width:10%"/>
      </p>
      <p>
        <button type="submit" class="form-control" style="width:10%">查询</button>
      </p>
    </div>
    <div>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>序号</th>
          <th>影院名称</th>
          <th>影院地址</th>
          <th>机务经理</th>
          <th>厅号</th>
          <th>设备型号</th>
          <th>设备序列号</th>
          <th>设备原始初装时间</th>
          <th>设备到保日期</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cellMap, cellMapStat : ${cellList}">
          <td th:text="${cellMapStat.index} + 1">序号</td>
          <td th:text="${cellMap['影院名称']}">影院名称</td>
          <td th:text="${cellMap['影院地址']}">影院地址</td>
          <td th:text="${cellMap['机务经理']}">机务经理</td>
          <td th:text="${cellMap['厅号']}">厅号</td>
          <div th:switch="${snType}">
            <div th:case="serverSn">
              <td th:text="${cellMap['服务器型号']}">服务器型号</td>
              <td th:text="${cellMap['服务器序列号']}">服务器序列号</td>
            </div>
            <div th:case="projectorSn">
              <td th:text="${cellMap['放映机型号']}">放映机型号</td>
              <td th:text="${cellMap['放映机序列号']}">设备序列号</td>
            </div>
          </div>
          <td th:text="${cellMap['设备原始初装时间']}">设备原始初装时间</td>
          <div th:switch="${snType}">
            <div th:case="serverSn">
              <td th:text="${cellMap['服务器到保日期']}">服务器到保日期</td>
            </div>
            <div th:case="projectorSn">
              <td th:text="${cellMap['放映机到保日期']}">放映机到保日期</td>
            </div>
          </div>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>
</body>
</html>